
* {
  box-sizing: border-box;
  background: #FCF5E5;
}

body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

html {
  font-family: "Tangerine", serif;
  line-height: 1.5;
  background: #FCF5E5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

.footer a::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -14px;
  width: 1px;
  height: 8px;
  background-color: #252422;
}
